/* Nav section */
#nav-bar{
    height: 25px;
    width: 25px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .bar {
        width: 20px;
        height: 4px;

        background-color: black;
        border-radius: 10px;
    }
}

.closed{
    display: none;
}

nav {

    display: flex;
    flex-direction: row-reverse;

    #slider {
        background-color: rgb(248, 248, 248);
        border: 2px solid rgb(214, 214, 214);
        border-top: none;


        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
        }

        li {
            display: flex;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: black;
            margin: 20px 20px;
        }
    }
}

body {
    background-image: url(/images/bg/homebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 800px){
    #slider {
        position: absolute;
    }
}